{% extends "signup.html" %} {% load static %}{% load crispy_forms_tags %} {% block "form" %}
<form method="post" action={% url 'login' %}>
    {% csrf_token %}
  <div class="form-outline mb-4">
    <label class="form-label" for="email" >Email address</label>
    <input type="email" id="email" name="email" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="password" >Password</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary w-100 btn-block mb-4">
    Sign in
  </button>
  <div class="d-flex gap-2">
    <p>Don't Have an account?</p>
    <a href={% url 'singup' %}>Sign in</a>
  </div>
</form>
{% endblock "form" %}
